body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

