@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titan+One&display=swap');

@media (max-width: 575px) {
  .game-block {
    width: 90%;
    min-width: 75vw;
  }
  .square {
    width: 6em;
    height: 6em;
  }
  footer {
    position: relative !important;
    margin: 3em auto 1em !important;
  }
}
@media (min-width: 576px) {
  .game-block {
    width: 80%;
    min-width: 55vw;
  }
  .square {
    width: 8em;
    height: 8em;
  }
}
@media (min-width: 767px) {
  .game-block {
    width: 60%;
    min-width: 35vw;
  }
}

html {
  min-height: 100vh;
}

body {
  text-align: center;
  background-color: #282c34;
  color: #fff;
  font: 14px 'Titan One', cursive;
  margin: 1em;
  display: flex;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.game-board,
.game-result {
  display: flex;
  justify-content: center;
}

.board-row {
  display: flex;
}

.square {
  margin: 0.25em;
  cursor: pointer;
  background: #FFEDCB;
}

.status span {
  color: #DBA11C;
}

.game-block {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: #282C34;
  background-color: #FFEDCB;
  border-radius: 0.5em;
  padding: 1em;
}

.result {
  width: fit-content;
  border: 1px solid;
  border-radius: 0.25em;
  margin: 0 0.25em;
  padding: 0.1em 0.5em;
  display: flex;
  justify-content: space-between;
}

.game-token {
  font-size: 5em;
  font-weight: bold;
  color: #DBA11C;
  -webkit-text-stroke-color: #282C34;
  -webkit-text-stroke-width: 2px;
  font-family: 'Titan One', cursive;
  display: block;
}

.result > .game-token {
  font-size: 1.15em !important;
  padding-right: 0.25em;
  -webkit-text-stroke-width: 1px !important;
}

.game-winner {
  display: grid;
}

.game-winner .winner-player {
  font-family: 'Titan One';
  font-size: 8em;
  display: block;
  color: #DBA11C;
  -webkit-text-stroke-color: #FFEDCB;
  -webkit-text-stroke-width: 5px;
}

.game-winner .winner-text {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(40px + 3vmin);
  color: #FFEDCB;
}

/********** BUTTONS **********/

button.btn {
  font-size: 24px;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin-top: 1em;
  cursor: pointer;
}

button.btn-dark {
  background: #282C34;
  color: #fff;
}

button.btn-light {
  background: #FFEDCB;
  color: #282C34;
}

/********** FOOTER **********/
footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 1em auto;
}