@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@media (max-width: 575px) {
  .square {
    width: 6em;
    height: 6em;
  }
}
@media (min-width: 576px) {
  .square {
    width: 8em;
    height: 8em;
  }
}

html {
  min-height: 100vh;
}

body {
  text-align: center;
  background-color: #282c34;
  color: #fff;
  font: 14px 'Titan One', cursive;
  margin: 1em;
  display: flex;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.board-row {
  display: flex;
}

.square {
  margin: 0.25em;
  cursor: pointer;
}

.square > span {
  font-size: 5em;
  font-weight: bold;
  color: #DBA11C;
  -webkit-text-stroke-color: #282C34;
  -webkit-text-stroke-width: 2px;
  font-family: 'Titan One', cursive;
}

